# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# Developer note: near.gitignore will be renamed to .gitignore upon project creation
# dependencies
/node_modules/*
!/node_modules/web3.storage
/.pnp
.pnp.js

# build
/out

# testing
/coverage
/vault-2.0
/.parcel-cache

# production
/build

# misc
.DS_Store
/*.env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
/.cache

npm-debug.log*
yarn-debug.log*
yarn-error.log*
root.json
db.json
